/* #region body*/
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* #endregion body*/

/* #region add reset*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: currentColor;
}


button {
    font-family: inherit;
    color: inherit;
}

address {
    font-style: normal;
}
/* #endregion add reset*/

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

/* #region header */

.header .container {
    display: flex;
    border-bottom: 1px solid #E7E9FC;
}

.header-link {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.header-nav {
    display: flex;
    align-items: center;
}

  

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;
    margin-right: 76px;
}

.header-logo:hover,
.header-logo:focus, 
.header-logo:hover .header-logo-studio,
.header-logo:focus .header-logo-studio
{
    color: #404bbf;
}

.header-logo-studio {
    color: #2e2f42;
}

.link-send {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    color: #2e2f42;;  
}


.link-send:hover, .link-send:focus {
    color: #404bbf;
}



.link-address {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
}
.link-address:hover, .link-address:focus {
    color: #404bbf;
}

.address-contact {
    display: flex;
    gap: 40px;
}

/* #endregion */


/* #region head */
.section-head .container {
    padding-top: 188px;
}

.section-head {
    background-color: #2e2f42;
    color: #2e2f42;
    height: 600px;
    padding-bottom: 120px;
}

.section-head-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    color: #fff;
    text-align: center;
    letter-spacing: 0.02em;
    padding: 0 0 48px;
    width: 496px;
    margin: 0 auto;
   
}

button {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    padding-bottom: 188px;
}

.button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4d5ae5;
    color: #fff;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    min-height: 56px;
}

button:hover,
button:focus {
    background-color: #404bbf;
}
/* #endregion head */

/* #region Quality */

.quality {
    padding-bottom: 120px;
    padding-top: 120px;
    width: 1158px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.quality-list {
    width: 1128px;
    display: flex;
    justify-content: space-between;
}

.quality-item {
    width: 264px;
}

.quality-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.quality-subtitle-text {
    color: #434455;
}

/* #endregion Quality */


/* #region team */

.team {
    padding-bottom: 120px;
    background-color: #f4f4fd;
    width: 1158px;
    margin: 0 auto;
}

.team-title {
    padding-bottom: 72px;
    height: 162px;
    padding-top: 120px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
    
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    background-color:#ffffff;
}

.team-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* #endregion */

/* #region portfolio */

.portfolio {
    padding-bottom: 120px;
    width: 1158px;
    margin: 0 auto;
}

.portfolio-title {
    padding-top: 120px;
    padding-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

}

.portfolio-list-item {
    width: calc((100% - 24px * 2) / 3);
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-text {
    color: #434455;
}

/* #endregion */

/* #region footer */

.footer {
    background-color: #2e2f42;
}

.footer-span {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;;
}

.footer-span:hover,
.footer-span:focus,
.footer-span:hover .footer-studio,
.footer-span:focus .footer-studio{
    color: #404bbf;
}
.footer-studio {
    color: #f4f4fd;
}



.footer-text {
    color: #f4f4fd;
}


/* #endregion footer */
